<section class="w-100 mt4 tc">
  <div>
    <h1 class="f3">Rings</h1>
    <p>
      <a href="https://fediring.net/previous?host=sitoctt.octt.eu.org">←</a>
      <a href="https://fediring.net/">
        <img class="w1 h1" src="https://sitoctt-assets.octt.eu.org/Media/Icons/Fediverse/Fediverse_logo_proposal.svg" title="Fediverse Logo Proposal, Eukombos, CC0, Wikimedia Commons"/>
        Fediring
      </a>
      <a href="https://fediring.net/random">[🎲]</a>
      <a href="https://fediring.net/next?host=sitoctt.octt.eu.org">→</a>
    </p>
  </div>
  {{ if hugo.IsProduction }}
    <br />
    <div id="StatCounter">
      <h4>Contatore delle visite</h4>
      <a class="NoABigger" href="https://www.contatoreaccessi.com" target="_blank" rel="noopener" title="Contatore assoluto delle visite"><img src="https://counter4.whocame.ovh/private/contatoreaccessi.php?c=3pfp8ahxbnm9e53pqtcnuxz8mq7wrk9s" border="0" alt="Conto assoluto delle visite"></a>
    </div>
  {{ end }}
</section>
