<script>
window.sitoctt = { utils: {} };
window.Void = (function Void(){});
{{- with resources.Get "SiteProps.toml" -}}
  {{- with . | transform.Unmarshal -}}
    window.sitoctt.Props = JSON.parse({{ . | jsonify }});
  {{- end -}}
{{- end -}}
window.sitoctt.localStorage = (function localStorage(key, value){ return SpaccDotWeb.LocalStorage('org.eu.octt.sitoctt', key, value); });
</script>
<script src="/res/sitoctt-utils.js"></script>
<script src="/res/ajax-navigation.js"></script>
<script src="/res/local-file-tweaks.js"></script>
<script src="/{{ .Lang }}/searchindex.js"></script>
<script src="/res/lib/fuse.min.js"></script>
<script src="/res/lib/SpaccDotWeb.Alt.min.js"></script>
<script src="/res/octt-runtime.js"></script>
{{ if hugo.IsProduction }}
  <script src="/res/analytics.js"></script>
{{ end }}
<script src="/res/markdown-editor.js"></script>
