<link rel="icon" type="image/png" href="<staticoso:SiteRelativeRoot>favicon.png"/>
<link rel="alternate" type="application/atom+xml" title="Feed Atom (Blog)" href="<staticoso:SiteRelativeRoot>feed/atom.xml"/>
<link rel="alternate" type="application/rss+xml" title="Feed RSS (Blog)" href="<staticoso:SiteRelativeRoot>feed/rss.xml"/>
<link rel="alternate" type="application/atom+xml" title="Feed Atom (Site)" href="<staticoso:SiteRelativeRoot>feed/site.atom.xml"/>
<link rel="alternate" type="application/rss+xml" title="Feed RSS (Site)" href="<staticoso:SiteRelativeRoot>feed/site.rss.xml"/>
<meta name="author" content="OctoSpacc"/>
<meta property="article:published_time" content="[staticoso:PageCreatedOn]"/>
<meta id="RawDataCssInject"/>
