/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

main > article a,
main > .div > section a,
.nested-links a {
  color: #990099;
}

.nested-links a {
  overflow-wrap: break-word;
}

.OctolyticsPixel { display: none; width: 0; height: 0;  }

iframe {
	max-width: 100%;
}
iframe.YouTube {
	width: 100%;
	border: none;
}

iframe.pixelfed__embed {
	border: 0;
	width: revert-layer;
}
iframe.pixelfed__embed[height] {
	height: revert-layer !important;
	max-height: none !important;
}

main > article > aside nav#TableOfContents ul {
	padding-left: 1em;
	list-style-type: revert;
}
main > article > aside nav#TableOfContents ul li {
	margin: 0.5em;
}

